@import url("https://use.typekit.net/xal8djd.css");

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #2B3990;
}

#navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8px solid #2B3990;
}
#navbar a {
    display: inline-block;
    color: #2B3990;
    text-decoration: none;
    padding: 24px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    background-color: #2B3990;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#navbar .dropdown-menu a:hover {
    color: white;
}
#navbar img {
    width: 200px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar .btn {
    background-color: white;
    color: #a32090;
    border-radius: 100px;
    border: 2px solid #a32090;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar .btn:hover {
    background-color: #939598;
}
.single-column {
    background-color: #2B3990;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    max-width: 1440px;
    min-width: 325px;
    margin: 0px auto;
}
#hero {
    background-image: url("../images/pasta.jpg");
    background-size: cover;
    height: 700px;
}
#hero h1 {
    color: #2B3990;
    font-size: 58px;
    margin-right: 70%;
    text-align: center;
    padding-bottom: 0px;
}
#hero h3 {
    color: #662D91;
    font-size: 46px;
    margin-right: 70%;
    text-align: center;
    padding-top: 0px;
}
#hero h4 {
    text-decoration: underline;
    color: #2B3990;
    font-size: 30px;
    text-align: center;
    margin-right: 70%;
    padding-top: 170px;
}
#hero a {
    background-color: white;
    text-decoration: none;
    color: #a32090;
    border-radius: 100px;
    border: 2px solid #a32090;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    min-width: 150px;
    margin-left: 135px;
    margin-top: 120px;
}
#hero a:hover {
    background-color: #939598;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}
.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: #a32090;
    border: 2px solid #a32090;
    padding: 10px 20px;
    border-radius: 100px;
}
.text-container a:hover {
    background-color: #939598;
}