/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 100%;
    object-fit: cover;
}

#frame-1 {
    border: 10px outset white;
    margin: 100px 12px 0px;
    box-shadow: -2px 2px 2px #444;
}
#frame-1 div {
    background-color: gray;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-1 img {
    width: 80px;
    display: block;
}

img {
    width: 100%;
    object-fit: fill;
}
#frame-2 {
    border: 15px outset black;
    margin: 70px 12px 0px;
    box-shadow: -2px 4px 4px #000000;
}
#frame-2 div {
    background-color: rgb(111, 122, 69);
    padding: 10px;
    box-shadow: inset -1px 1px 2px #000000;
}
#frame-2 p {
    color: wheat;
    text-decoration: underline;
}

img {
    width: 100%;
    object-fit: cover;
}
#frame-3 {
    border: 10px outset white;
    margin: 100px 12px 0px;
    box-shadow: -2px 2px 2px #444;
}
#frame-3 div {
    background-color: gray;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-3 img {
    width: 80px;
    display: block;
}