* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#card-container-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hover {
    flex: 300px;
    border: 3px solid rgb(0, 0, 0);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card1:hover {
    background-color: rgb(192, 240, 220);
    box-shadow: 8px 8px 8px rgb(255, 2, 255);
    transform: translateY(-4px);
}
#card1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
#card1 h2 {
    font-size: 38px;
    color: white;
}

#card2:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 4px 4px rgb(255, 116, 2);
    transform: translateY(-4px);
}
#card2 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
#card2 h2 {
    font-size: 38px;
    color: orange;
}

#card3:hover {
    background-color: rgb(160, 2, 252);
    box-shadow: 8px 4px 8px 4px rgb(17, 0, 255);
    transform: translateY(-4px);
}
#card3 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
#card3 h2 {
    font-size: 38px;
    color: white;
}
#card3 p {
    color: white;
}

#card4:hover {
    background: linear-gradient(red, white 40%, blue 50%);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    transform: translateY(-4px);
}
#card4 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
#card4 h2 {
    font-size: 38px;
    color: blue;
}
#card4 p {
    color: white;
}

#card-container-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#card5:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card5 .card-content {
    transition: 
        opacity 0.1s,
        visibility 0.1s;
}
#card5 h2 {
    color: rgb(5, 41, 248);
    font-size: 40px;
    text-align: center;
}
#card5 a {
    text-decoration: none;
    color: rgb(0, 46, 252);
    display: block;
    border: 3px solid blue;
    padding: 12px;
    margin-top: 36px;
}

#card6:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card6 .card-content {
    transition: 
        opacity 0.9s,
        visibility 0.9s;
}
#card6 h2 {
    color: rgb(230, 12, 211);
    font-size: 40px;
}
#card6 a {
    text-decoration: none;
    color: rgb(230, 12, 211);
    background-color: rgb(193, 197, 195);
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
    margin-top: 36px;
    box-shadow: 8px 8px 8px;
}

#card7 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.8s,
        visibility 0.8s,
        transform 0.8s;
}
#card7:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#card7 h2 {
    font-size: 40px;
    color: rgb(80, 206, 7);
}
#card7 a {
    text-decoration: none;
    color: black;
    background-color: rgb(80, 206, 7);
    display: block;
    border: 3px solid black;
    border-radius: 24px 0px 24px 0px;
    padding: 12px;
    margin-top: 36px;
}
#card8 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.3s,
        visibility 0.3s,
        transform 0.3s;
}
#card8:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#card8 h2 {
    color: orange;
    font-size: 48px;
}
#card8 a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    background-color: rgb(236, 137, 223);
    display: block;
    border: 1px solid rgb(251, 255, 0);
    border-radius: 100px;
    box-shadow: 4px 4px 4px orange;
    padding: 2px;
    margin-top: 36px;
}

#content-container-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
}
#card9 h2 {
    color: blue;
    font-size: 36px;
}
#card9:hover a {
    padding: 10px 40px 10px 40px;
    background-color: rgb(185, 212, 216);
    box-shadow: 5px 5px 5px rgb(6, 4, 116);
    transform: translateY(-4px);
}
#card9 a {
    display: block;
    transition: 
        background-color 0.9s,
        box-shadow 0.9s,
        transform 0.9s
        ;
}

#card10 h2 {
    color: rgb(238, 111, 206);
    font-size: 36px;
}
#card10:hover a {
    padding: 15px 80px 15px 80px;
    background: linear-gradient(
        rgb(255, 123, 0),
        yellow,
        rgb(233, 98, 215)
    );
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    transform: translateY(-4px);
    border-radius: 34px;
}
#card10 a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 
        background-color 0.3s,
        box-shadow 0.3s,
        transform 0.3s
        ;
}

#card11 h2 {
    color: orange;
    font-size: 36px;
}
#card11:hover a {
    padding: 10px 40px 10px 40px;
    border: 2px dashed orange;
    box-shadow: 5px 5px 5px rgb(255, 61, 2);
    transform: translateY(-4px);
}
#card11 a {
    display: block;
    text-decoration: none;
    color: orange;
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}

#card12 h2 {
    color: rgb(73, 160, 109);
    font-size: 36px;
}
#card12:hover a {
    padding: 6px 40px 6px 40px;
    border: 5px dotted rgb(73, 160, 109);
    box-shadow: 2px 2px 2px orange;
    transform: translateY(-4px);
}
#card12 a {
    display: block;
    border-radius: 40px;
    text-decoration: none;
    color: rgb(243, 174, 26);
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
